node_modules/
.expo/
.next/
.env
tsconfig.tsbuildinfo
dist/
build/
data/collected-google-places.json
data/raw-google-places/
expo-web*.log
screenshots/
*.err.log
*.log
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vercel
